*{
 margin: 0px;
 padding: 0px;
 background-color: black;   
}
.navbar{
    padding: 0px;
    margin: 8px;
}
.btn:focus,
.page-link:focus{
    outline: none;
    box-shadow: none;
}
@media (max-width:680px)
{   
    .search{
        width: 150px;
    }
}